body { 
    background: #c70606; 
    color: rgb(211, 211, 223);
}

body.login { 
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
}
    

.login-card { 
    background: #e6dcdc; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
    width: 320px;
    text-align: center;
}

.input-group{ 
    margin-bottom: 20px;
    text-align: left;
}

.input-group input{ 
    background: #fdfbfb; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
    width: 320px;
    text-align: center;
}

.buttom { 
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.error { 
    color: #fc0505;
    font-size: 12px;
    margin-bottom: 10px;
}